@media screen and (max-width: 640px) {
    body {
        margin: 25px;
    }
}

@media screen and (min-width: 641px) {
    body {
        margin: 100px;
    }
}

#marketplaceHours {
    display: none;
}

#junctionHours {
    display: none;
}

#skyroomHours {
    display: none;
}

#hubHours {
    display: none;
}
#quadsideCafeHours {
    display: none;
}
#lukesCafeHours {
    display: none;
}
#artistsBlocksHours{
    display: none;
}
#shawsKitchenHours{
    display: none;
}
#nookHours{
    display: none;
}
#quickStopHours{
    display: none;
}
#lateNightHours{
    display: none;
}
